:root {
    --aqua : #011157;
    --light : #da6b43e3;
    --blue-dark : #dae9fa;
    --blue-light : #004a8f;
    --white : #edf8fd;
}

* {
    font-family:  'Raleway', sans-serif;
}

h1 , h2 ,h3 , h4 , h5 , h6, p {
    font-family: 'Raleway', sans-serif;
    color: var(--blue-light);
}

body {
    background-color: var(--white);
}

.navbar-presto {
    background-color:(var(--aqua)) ;
    color: var(--blue-light);
    box-shadow: 3px 23px 19px 2px rgba(0,0,0,0.83);    
    height: 65px;
    transition: all 0.4s;

}

.navbar-collapse {
    transition: all 0.4s;
}

.navbar-presto .navbar-brand {
    font-weight: 800;
    color: var(--blue-light);
}

.navbar-presto a {
    color: var(--blue-dark);
    transition: 0.4s;
}

.navbar-presto a:hover {
    color: var(--blue-dark);
    border-bottom: 3px solid var(--blue-dark);
    margin-bottom: -3px;
    font-weight: 600;

}

.btn-outline-blue-dark {
    color: var(--blue-dark);
    border: 2px solid var(--blue-dark);
    font-weight: 600;
    border-radius: 10px;
}

.btn-outline-blue-dark:hover {
    background-color: var(--blue-dark);
    color: var(--aqua);
}

.btn-outline-blue-light {
    background-color: #004a8f;
    color: var(--blue-dark);
    border: 2px solid var(--blue-light);
    font-weight: 600;
}

.btn-outline-blue-light:hover {
    background-color: var(--light);
    color: var(--white);
}

.text-blue-dark {
    color: var(--blue-dark);
}

.text-white {
    color: var(--white); 
}

.text-blue-light {
    color: var(--blue-light);
}

.text-light1{
    color: var(--light);
}

.text-aqua{
    color: var(--aqua);
}
.bg-presto-light {
    background-color: var(--light)
}

.bg-presto-aqua {
    background-color: var(--aqua)
}

.size-logo{
    font-size: 20px;
}

.border-white{
    text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
}

#toggle-menu {
    transition: 0.4s;
}

.masthead {
    background:linear-gradient(103deg, rgba(206, 115, 11, 0.753) 0%, rgba(244,128,19,1) 100%);

    height: 100vh;
    min-height: 500px;
    border-bottom: 3px solid var(--blue-light);
}

.home-title{
    font-size: 60px;
}

.ecommerce {
    width: 700px;
    
}

.card-presto {
    background-color: var(--aqua);
    min-height: 150px;
    border: solid 3px ;
    border-radius: 50px;
    box-shadow: 6px 15px 19px 1px rgba(0,0,0,0.7);
}

.card-presto:hover{
    background-color: var(--light);
    border: solid 3px var(--blue-dark)
}

.card-annunci{
    box-shadow: 6px 15px 19px 1px rgba(0,0,0,0.7);
}

.btn-card{
    background-color: var(--white);
    color: var(--light);
    border-radius: 10px;
    width: 80%;
    margin-left: 25px;
    margin-top: 20px;
    
}

.btn-like:hover {
    color: var(--blue-light);
}

.btn-like:focus {
    outline: none;
    box-shadow: none;
}

.search-bar{
    border: 2px solid var(--blue-dark);
    border-radius: 30px;
    height: 50px;
    width: auto;
    background-color: #add5f8be;
    outline:none!important;
    font-size: 20px;
    padding-left: 10px;
}

.btn-search{
    
    border-radius: 30px;
    height: 50px;
    color: var(--white);
    background-color: var(--blue-light);
    position: relative;
    right: 71px;
    bottom: 3px;
    

}

.form-control-borderless {
    border: solid 1px var(--blue-light);
    border-radius:10px ;
}

.barra-ricerca {
    border-radius: 10px;
    width: 30px;
    height: 10px;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

